:root {
  --main-black: #101828;
  --main-white: #fff;
  --accent-basic: #e44848;
  --accent-hover: #d84343;
  --icon: #ffc531;
  --input-bg: #f7f7f7;
  --secondary-white: #f2f4f7;
  --transition-setting: 150ms ease-in;
}
