.modalOverlay {
  background: rgba(17, 18, 19, 0.4);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: relative;
  border-radius: 20px;
  background: var(--main-white);
  display: flex;
  max-height: 90%;
  max-width: 982px;
  padding: 40px;
  flex-direction: column;
  gap: 24px;
  overflow: auto;
  clip-path: inset(0 round 10px);
  z-index: 1001;
}

.imageList {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.imageItem {
  width: 290px;
  height: 310px;
  border: 1px solid transparent;
  border-radius: 10px;
  overflow: hidden;
}
.modalImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
}

.closeBtn {
  position: absolute;
  top: 40px;
  right: 40px;

  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
  font-weight: 700;
}
