.catalogCard {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 24px;
  gap: 24px;
  border-radius: 20px;
  border: 1px solid rgba(16, 24, 40, 0.2);
}

.cardDescr {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.saleBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoBlock {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.favoriteBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.imgCard {
  max-width: 290px;
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.campImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 525px;
}
.cardBtn {
  display: inline-flex;
  align-self: start;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  background-color: var(--accent-basic);
  color: var(--main-white);
  border: none;
  transition: color var(--transition-setting),
    background-color var(--transition-setting);
}
.cardBtn:hover,
.cardBtn:focus {
  background-color: var(--accent-hover);
}

.favoritesBtn {
  border: none;
  background-color: var(--main-white);
  width: 24px;
  height: 24px;
  transition: color var(--transition-setting);
}

.favoritesBtn:hover,
.favoritesBtn:focus {
  background-color: var(--accent-hover);
}
