.catalogCard {
  display: flex;
  align-items: flex-start;
  width: 840px;
  gap: 24px;
}

.cardDescr {
  display: flex;
  flex-direction: column;
}
.saleBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgCard {
  width: 290px;
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.campImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 525px;
}
